<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="<%= image_path('home') %>" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Manage your financial transactions</h1>
      <p class="lead">
        Budget manager is a simple, free, and useful application that gives you the power to enhance your budget management process. You can categorize your financial transactions into multiple categories that has a meaning to you.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="<%= new_user_session_path %>" class="btn btn-primary btn-lg px-4 me-md-2">Login</a>
        <a href="<%= new_user_registration_path %>" class="btn btn-outline-secondary btn-lg px-4">Register</a>
      </div>
    </div>
  </div>
</div>