<h1 class="fw-bold mb-5">Categories</h1>
<% @categories.each do |category| %>
  <div class="card mb-3">
    <div class="d-flex p-4">
      <i class="fa-solid <%= category.icon %> fa-4x"></i>
      <div class="w-100 px-3 d-flex flex-column justify-content-between">
        <div class="d-flex justify-content-between items-center ">
          <div class="text-secondary">
            <%= category.name %>
          </div>
          <div class="fw-bold"><%= category.total_budget %>$</div>
        </div>
        <span class="text-secondary"><%= category.created_at.strftime("%d %m %Y")%></span>
      </div>
    </div>
  </div>
<% end %>
